@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

:root {
    --blue: #3FA7D6;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e03616;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #F6F4F3;
    --gray-dark: #343a40;
    --primary: #3FA7D6;
    --secondary: #E03616;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #231F20;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #231F20;
    text-align: left;
    background-image: linear-gradient(to bottom, #3fa6d6d4, #e03816ba), url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

.footer-menu {
    color: #F6F4F3;
    background-color: #3FA7D6;
    border-radius: 25%;
}

.row {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
}

.home-icon {
    width: 80px;
    height: 80px;
    background: #e03616;
    color: var(--white);
    margin: 5px;
    border-top-left-radius: 69px;
    border-top-right-radius: 69px;
    border-bottom-left-radius: 69px;
    border-bottom-right-radius: 69px;
}

.home-logo {
    width: 300px;
    padding-left: 30px;
}

.navbar {
    background-color: #3FA7D6;
    padding: 0px;
    margin: 0px;
}


#msgErro {
    text-align: center;
    color: var(--danger);
    background-color: var(--whitesmoke);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.calendar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  #calendarContainer,
  #organizerContainer {
    float: left;
    margin: 5px;
  }

  