:root {
    --blue: #3FA7D6;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e03616;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #F6F4F3;
    --gray-dark: #343a40;
    --primary: #3FA7D6;
    --secondary: #E03616;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #FFFFFF;
    --dark: #231F20;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #231F20;
    text-align: left;
    background-image: url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

.footer-menu {
    color: #F6F4F3;
    background-color: #3FA7D6;
    border-radius: 25%;
}

.row {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
}

.home-icon {
    width: 110px;
    height: 110px;
    background: #e03616;
    color: var(--white);
    padding: 20px 20px;
    margin: 5px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 250px;
    border-top-left-radius: 69px;
    border-top-right-radius: 69px;
    border-bottom-left-radius: 69px;
    border-bottom-right-radius: 69px;
    overflow: hidden;
}

.home-logo {
    max-width: max-content;
    max-height: max-content;
    object-position: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.block {
    margin: auto;
    max-width: max-content;
    min-width: 360px;
    height: 680px;
    position:relative;
    border-radius: 20%;
    align-self: center;
    align-items: center;
    display: flex;
    border: 5px var(--blue);
}

.login {
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: clamp(35px, 8%, 70px);
    background-color: #F6F4F3;
    border-radius: 10%;
    margin: auto;
}

.login_title {
    color: var(--blue);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login_label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.login_label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--red);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.login_label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login_button {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: var(--green);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5%;
}

.login_button span {
    position: absolute;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    margin: 20px;
}

.login_button:disabled {
    cursor: auto;
    background-color: var(--light-grey);
    border: 2px solid var(--light-grey);
}

.login_button:disabled span {
    color: var(--grey);
}

.login_link {
    width: 100%;
    font-size: 0.7em;
    text-decoration: none;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 5px;
    font-weight: 700;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid #E03616;
    border-radius: 10px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
    margin: auto;
}

.input1 {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgb(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
    margin: auto;
}

#msgErro {
    text-align: center;
    color: var(--danger);
    background-color: var(--whitesmoke);
    padding: 10px;
    border-radius: 5px;
    display: none;
}