* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v77_1811 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v77_1814 {
  width: 134px;
  height: 5px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 128px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v77_1815 {
  width: 358px;
  height: 91px;
  background: url("../images/v77_1815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1817 {
  width: 134px;
  height: 5px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 112px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1819 {
  width: 358px;
  height: 75px;
  background: url("../images/v77_1819.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v77_1820 {
  width: 138px;
  height: 35px;
  background: url("../images/v77_1820.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v77_1821 {
  width: 63px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1822 {
  width: 138px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v77_1823 {
  width: 358px;
  height: 75px;
  background: url("../images/v77_1823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v77_1824 {
  width: 88px;
  height: 35px;
  background: url("../images/v77_1824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v77_1825 {
  width: 30px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1826 {
  width: 88px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v77_1827 {
  width: 358px;
  height: 75px;
  background: url("../images/v77_1827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 18px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v77_1828 {
  width: 133px;
  height: 35px;
  background: url("../images/v77_1828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v77_1829 {
  width: 79px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1830 {
  width: 133px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 23px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v77_1831 {
  width: 300px;
  height: 216px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 45px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v77_1832 {
  width: 305px;
  height: 216px;
  background: url("../images/v77_1832.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 50px;
  overflow: hidden;
}
.v77_1833 {
  width: 300px;
  height: 216px;
  background: url("../images/v77_1833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v77_1834 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 174px;
}
.v77_1835 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 210px;
}
.v77_1836 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 246px;
}
.v77_1837 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 67px;
}
.v77_1838 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 102px;
}
.v77_1839 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 138px;
}
.v77_1840 {
  width: 23px;
  height: 125px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 30px;
}
.v77_1841 {
  width: 300px;
  height: 216px;
  background: url("../images/v77_1841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v77_1842 {
  width: 23px;
  height: 77px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 174px;
}
.v77_1843 {
  width: 23px;
  height: 72px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 210px;
}
.v77_1844 {
  width: 23px;
  height: 95px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 246px;
}
.v77_1845 {
  width: 23px;
  height: 67px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 67px;
}
.v77_1846 {
  width: 23px;
  height: 34px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 102px;
}
.v77_1847 {
  width: 23px;
  height: 34px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 138px;
}
.v77_1848 {
  width: 23px;
  height: 72px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 30px;
}
.v77_1849 {
  width: 69px;
  height: 13px;
  background: url("../images/v77_1849.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 121px;
  overflow: hidden;
}
.v77_1850 {
  width: 10px;
  height: 10px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v77_1851 {
  width: 52px;
  color: rgba(139,221,255,1);
  position: absolute;
  top: 0px;
  left: 17px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1852 {
  width: 69px;
  height: 13px;
  background: url("../images/v77_1852.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 197px;
  overflow: hidden;
}
.v77_1853 {
  width: 10px;
  height: 10px;
  background: rgba(224,54,22,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v77_1854 {
  width: 57px;
  color: rgba(218,119,100,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1855 {
  width: 300px;
  height: 38px;
  background: url("../images/v77_1855.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -2px;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 5px;
  overflow: hidden;
}
.v77_1856 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v77_1857 {
  width: 15px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 11px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1858 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v77_1859 {
  width: 15px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 11px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1860 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.v77_1861 {
  width: 15px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 11px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1862 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 131px;
  overflow: hidden;
}
.v77_1863 {
  width: 15px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 11px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1864 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 167px;
  overflow: hidden;
}
.v77_1865 {
  width: 8px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1866 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 203px;
  overflow: hidden;
}
.v77_1867 {
  width: 8px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1868 {
  width: 38px;
  height: 38px;
  background: url("../images/v77_1868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 239px;
  overflow: hidden;
}
.v77_1869 {
  width: 8px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 11px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v77_1872 {
  width: 25px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1873 {
  width: 25px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1874 {
  width: 19px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 137px;
  left: 3px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1875 {
  width: 25px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 108px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1876 {
  width: 7px;
  color: rgba(189,189,189,1);
  position: absolute;
  top: 167px;
  left: 9px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v77_1877 {
  width: 279px;
  height: 16px;
  background: url("../images/v77_1877.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 55px;
  overflow: hidden;
}
.v77_1878 {
  width: 77px;
  height: 16px;
  background: url("../images/v77_1878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1879 {
  width: 59px;
  color: rgba(63,167,214,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v77_1880 {
  width: 14px;
  height: 16px;
  background: rgba(63,167,214,1);
  padding: 2px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v77_1881 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v77_1883 {
  width: 89px;
  height: 16px;
  background: url("../images/v77_1883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.v77_1884 {
  width: 65px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v77_1885 {
  width: 20px;
  height: 16px;
  background: rgba(217,217,217,1);
  padding: 2px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 69px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v77_1886 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v77_1887 {
  width: 77px;
  height: 16px;
  background: url("../images/v77_1887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 202px;
  overflow: hidden;
}
.v77_1888 {
  width: 53px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v77_1889 {
  width: 20px;
  height: 16px;
  background: rgba(217,217,217,1);
  padding: 2px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v77_1890 {
  width: 17px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 1px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
