* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v77_1263 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v77_1266 {
  width: 106px;
  height: 44px;
  background: url("../images/v77_1266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 89px;
  overflow: hidden;
}
.v77_1267 {
  width: 153px;
  height: 28px;
  background: url("../images/v77_1267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1268 {
  width: 150px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v77_1269 {
  width: 104px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 28px;
  left: 0px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v77_1271 {
  width: 358px;
  height: 44px;
  background: url("../images/v77_1271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 103px;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 16px;
  overflow: hidden;
}
.v77_1272 {
  width: 237px;
  height: 44px;
  background: url("../images/v77_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1273 {
  width: 44px;
  height: 44px;
  background: url("../images/v77_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1274 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v77_1275 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  overflow: hidden;
}
.v77_1276 {
  width: 11px;
  height: 22px;
  background: rgba(251,188,4,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
}
.v77_1277 {
  width: 5px;
  height: 5px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
}
.v77_1278 {
  width: 13px;
  height: 21px;
  background: rgba(234,67,53,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v77_1279 {
  width: 185px;
  height: 34px;
  background: url("../images/v77_1279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 52px;
  overflow: hidden;
}
.v77_1280 {
  width: 92px;
  color: rgba(51,51,51,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v77_1281 {
  width: 185px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v77_1282 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 340px;
  overflow: hidden;
}
.v77_1283 {
  width: 1px;
  height: 1px;
  background: url("../images/v77_1283.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 15px;
  border: 2px solid rgba(0,0,0,1);
}
.v77_1284 {
  width: 1px;
  height: 1px;
  background: url("../images/v77_1284.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 15px;
  border: 2px solid rgba(0,0,0,1);
}
.v77_1285 {
  width: 1px;
  height: 1px;
  background: url("../images/v77_1285.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 15px;
  border: 2px solid rgba(0,0,0,1);
}
.v77_1286 {
  width: 358px;
  height: 91px;
  background: url("../images/v77_1286.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1288 {
  width: 134px;
  height: 5px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 112px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v77_1289 {
  width: 370px;
  height: 250px;
  background: url("../images/v77_1289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 10px;
  overflow: hidden;
}
.v77_1290 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_1291 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_1291.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1292 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 30px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1293 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 10px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_1294 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_1294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1295 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 35px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1296 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 130px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_4693 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_4693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1298 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 32px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1299 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 250px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_1300 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_1300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1301 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 30px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1302 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 130px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_1303 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_1303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1304 {
  width: 23px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 43px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v77_1305 {
  width: 110px;
  height: 110px;
  background: rgba(224,54,22,1);
  padding: 20px 20px;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 250px;
  border-top-left-radius: 69px;
  border-top-right-radius: 69px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 69px;
  overflow: hidden;
}
.v77_1306 {
  width: 48px;
  height: 48px;
  background: url("../images/v77_1306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 31px;
  overflow: hidden;
}
.v77_1307 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 74px;
  left: 28px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
