* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v77_1611 {
  width: 390px;
  height: 844px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v77_1614 {
  width: 149px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 240px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1615 {
  width: 112px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 393px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1616 {
  width: 358px;
  height: 64px;
  background: rgba(255,255,255,1);
  padding: 10px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v77_1617 {
  width: 162px;
  height: 44px;
  background: url("../images/v77_1617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v77_6790 {
  width: 44px;
  height: 44px;
  background: url("../images/v77_6790.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v77_1619 {
  width: 106px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 12px;
  left: 56px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1620 {
  width: 358px;
  height: 54px;
  background: rgba(255,255,255,1);
  padding: 10px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1626 {
  width: 328px;
  height: 24px;
  background: url("../images/v77_1626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 173px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1628 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  overflow: hidden;
}
.v77_1629 {
  width: 6px;
  height: 12px;
  background: url("../images/v77_1629.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(130,130,130,1);
}
.v77_1630 {
  width: 358px;
  height: 136px;
  background: rgba(255,255,255,1);
  padding: 10px 15px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 428px;
  left: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v77_1631 {
  width: 328px;
  height: 24px;
  background: url("../images/v77_1631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 210px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1633 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  overflow: hidden;
}
.v77_1634 {
  width: 6px;
  height: 12px;
  background: url("../images/v77_1634.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(130,130,130,1);
}
.name {
  color: #fff;
}
.v77_1636 {
  width: 334px;
  height: 28px;
  background: url("../images/v77_1636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 180px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 12px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1638 {
  width: 52px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 282px;
  overflow: hidden;
}
.v77_1639 {
  width: 52px;
  height: 28px;
  background: rgba(63,167,214,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v77_1640 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 26px;
  border-radius: 50%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15000000596046448);
}
.name {
  color: #fff;
}
.v77_1642 {
  width: 328px;
  height: 24px;
  background: url("../images/v77_1642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 208px;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1644 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  overflow: hidden;
}
.v77_1645 {
  width: 6px;
  height: 12px;
  background: url("../images/v77_1645.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(130,130,130,1);
}
.v77_1646 {
  width: 358px;
  height: 50px;
  background: rgba(63,167,214,1);
  padding: 15px 20px;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 744px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v77_1647 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 151px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1648 {
  width: 134px;
  height: 5px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 128px;
}
