* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v77_1338 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1340 {
  width: 84px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 333px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v77_1343 {
  width: 358px;
  height: 50px;
  background: rgba(63,167,214,1);
  padding: 15px 20px;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v77_1344 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 145px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1345 {
  width: 184px;
  color: url("../images/v77_1345.png");
  position: absolute;
  top: 781px;
  left: 103px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v77_1346 {
  width: 358px;
  height: 54px;
  background: rgba(51,51,51,1);
  padding: 15px 20px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v77_1347 {
  width: 168px;
  height: 24px;
  background: url("../images/v77_1347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 95px;
  overflow: hidden;
}
.v77_1348 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1349 {
  width: 15px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v77_1350 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 36px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1351 {
  width: 358px;
  height: 54px;
  background: url("../images/v77_1351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 20px;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v77_1352 {
  width: 178px;
  height: 24px;
  background: url("../images/v77_1352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 90px;
  overflow: hidden;
}
.v77_1353 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v77_1354 {
  width: 11px;
  height: 11px;
  background: rgba(66,133,244,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
}
.v77_1355 {
  width: 19px;
  height: 9px;
  background: rgba(52,168,83,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 1px;
}
.v77_1356 {
  width: 5px;
  height: 10px;
  background: rgba(251,188,5,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
}
.v77_1357 {
  width: 19px;
  height: 9px;
  background: rgba(235,67,53,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v77_1358 {
  width: 142px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2px;
  left: 36px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v77_1359 {
  width: 358px;
  height: 18px;
  background: url("../images/v77_1359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 603px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_1361 {
  width: 14px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 172px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v77_1363 {
  width: 366px;
  height: 217px;
  background: url("../images/v77_1363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 12px;
  overflow: hidden;
}
.v77_1364 {
  width: 134px;
  height: 5px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 128px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
